
/* .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $secondary-color;

    p {
        margin: 8px;
    }

    a {
        text-decoration: none;
        font-style: bold;
        color: $primary-font-color;
    }
} */