#timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .rightPanel,
    .leftPanel {
        width: 50%;
        min-width: 400px;
    }

   
   

    .buttonActive {
        background-color: $selected-button;
        color: $selected-button-font-color;
    }

    button {
        cursor: pointer;
        border: solid $secondary-color 2px;
        font-weight: bold;
        color: $primary-font-color;
        padding: 10px 20px;
        margin: 5px;
        text-decoration: none;
        width: 200px;
        background-color: $primary-color;
        border-radius: 20px;

        &.optionButton {
            width: 90%;

        }

        &:hover {
            background-color: $selected-button;
            transition: background-color 0.1s ease-in-out;
        }
    }

    #clock {
        font-size: 100px;
        font-weight: bold;
        margin: 20px 0;
    }
}